<div style="margin-right: 45px; margin-top: 30px;">
   <%= link_to 'Create', new_task_path, class: 'btn btn-success pull-right col-xs-1 ' %>
</div>
<div class="container">
  <h2 align="center" >My Tasks</h2>
    <ul class="list-group">
      <%= render partial: 'task', collection: @tasks, as: :task %>
    </ul>
</div>
