<div style="margin-right: 20px; margin-top: 15px;">
   <%= link_to 'Create', new_task_path, class: 'btn btn-success pull-right col-xs-1 '%>
</div>
<div class="container">
  <h2 align="center" >Active task</h2>
  <ul id="active-task-list" class="list-group">
    <%= render  partial: 'task', collection: @active_tasks, as: :task %>
  </ul>
</div>
<div class="container">
  <h2 align="center" >Done task</h2>
  <ul id="done-task-list" class="list-group">
    <%= render partial: 'task', collection: @done_tasks, as: :task %>
  </ul>
</div>
