<div class="container">
  <h2 align="center">Create a new task</h2>
  <%= simple_form_for @task do |f| %>
    <%= f.input :name%>
    <%= f.input :descripion %>
    <%= f.button :submit, class: 'btn btn-success'%>
  <% end %>
</div>
